/* setting all box sizing to use border box */
* {
  box-sizing: border-box;
}

/* setting h1 font size */
h1 {font-size: 48px;}

/* setting font family and color for h2, p, ul, ol, li elements */
h2, p, ul, ol, li {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color:black;
}

img {
  width: 100%;
}

/* setting font size for p, ul, ol, li elements */
p, ul, ol, li {
  font-size: 16px;
}

/* adding background image to entire body, will repeat by default */
body {
  background-image: url("images/background-tile.png");
}

/* adding a visual bar for the header and footer */
header, footer {
  font-family: "Trebuchet MS", serif;
  background-color:rgba(143, 188, 143, 0.6);
  text-align: center;
  /* adding a bit of extra space between the content of the container and the border of the container */
  padding: 15px;
}



/* setting font size for only a h3 directly within header container */
header > h3 {
  font-size: 20px;
}

/* wrapper will center content within a width of 600px */
.wrapper {
  width: 100%;
  margin: auto;
}

/* font size and centering all h2 elements */
h2 {
  font-size: 30px; 
  text-align: center;
}

/* styling horizontal rules to be a dashed line the same color as header and footer */
hr {
  border: 2px rgba(143, 188, 143) dashed;  
}

/* pseudo-class styling for a link that has not yet been interacted with on page */
a:link {
  color: rgb(34, 58, 34);
}
/* pseudo-class styling for a link that has been previously visited by the browser */
a:visited{
  color: brown;
}
/* pseudo-class styling for a link that is currently being hovered over by a cursor */
a:hover{
  color: green;
}
/* pseudo-class styling for a link that is currently being clicked */
a:active{
  color:blue;
}

/* using as empty container to provide spacing when needed */
.spacing {
  height: 100px;
}

/* setting footer height, and padding to 0 to be flush with bottom of page */
footer {
  height: 25px;
  padding: 0px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-2x {
  flex: 2;
}

#contact img {
  width: 50%;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }
  article {
    padding: 10px;
  }
  .wrapper {
    width: 75%;
  }
  p, ul, ol, li {
  font-size: 22px;
  }
  #contact img {
    width:100%;
    max-width:400px;
  }


}
